[Desktop Entry]
Name=Librazik Tips
Name[fr]=Astuces Librazik
Comment=Display tips for the LibraZiK distribution
Comment[fr]=Afficheur d'astuces pour la distribution LibraZiK
Version=1.0

Type=Application
Categories=AudioVideo;Audio;Qt;
Keywords=audio;sound;tips;

Exec=librazik_tips
Terminal=false
StartupNotify=true

Icon=librazik_tips
